# Lab 5

# Data Manipulation with Pandas

In this lab, you'll be working through Chapter 3 to get an introduction to the data manipulation and analysis package for Python, Pandas. This notebook is made up of two sections.

- Section 1: Work through the code samples in Chapter 3
- Section 2: Exercises

# Section 1: Code Practice

In this section, you will be reading through the various chapter sections and **typing out**/running the code samples given in the sections. The purpose of this is for you to practice using Jupyter to run Python code as well as learn about the functionality available to you in both IPython and Jupyter.

**Do not copy/paste the code**. Type it out. Don't go zen, either. Pay attention to the meaning of what you are typing. Pay attention to the parameters and the types of arguments. Find the similarities and differences among the various object APIs. 

## The hardest part of Pandas is the *massive* API.

The only way to become proficient is to **actually, physically, viscerally** use it. Repeatedly and deliberately over time.

---

##### Executing code in Jupyter

When typing and executing code in Jupyter, it is helpful to know the various keyboard shortcuts. You can find the full list of these by clicking **Help &rarr; Keyboard Shortcuts** in the menu. However, the two most useful keyboard shortcuts are:

- `Shift-Enter`: Execute the current cell and advance to the next cell. This will create one if none exists, but if a cell exists below your current cell, a new cell will **not** be created.
- `Alt-Enter`: Execute the current cell and **create** a new cell below.
- `Control-Enter`: Execute the current cell without advancing to the next cell

When writing your code, you will be using these two commands to make sure input/output (`In`/`Out`) is consistent with what is found in the chapter. If you create a cell by mistake, you can always go to **Edit &rarr; Delete Cells** to remove it.

#### Purpose of Section 1

Your purpose in this section is 

- **Type out** the code examples from the chapter (do not copy and paste)
- **Run** them
- **Check** to **make sure** you are getting the same results as what is contained in the chapter

---

## Vectorized String Operations

[Chapter/Section link](https://nbviewer.jupyter.org/urls/bitbucket.org/dogwynn/pythondatasciencehandbook/raw/master/notebooks/03.10-Working-With-Strings.ipynb)

### Introducing Pandas String Operations

In [ ]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

In [ ]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]

In [ ]:
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
[s.capitalize() for s in data]

In [ ]:
import pandas as pd
names = pd.Series(data)
names

In [ ]:
names.str.capitalize()

### Tables of Pandas String Methods

In [ ]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [ ]:
monte.str.lower()

In [ ]:
monte.str.len()

In [ ]:
monte.str.startswith('T')

In [ ]:
monte.str.split()

#### Methods using regular expressions

In [ ]:
monte.str.extract('([A-Za-z]+)', expand=False)

In [ ]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

#### Miscellaneous methods

In [ ]:
monte.str[0:3]

In [ ]:
monte.str.split().str.get(-1)

In [ ]:
full_monte = pd.DataFrame({'name': monte,
                           'info': ['B|C|D', 'B|D', 'A|C',
                                    'B|D', 'B|C', 'B|C|D']})
full_monte

In [ ]:
full_monte['info'].str.get_dummies('|')

### Example: Recipe Database

Do **not** try to execute cell (`In [17]`). The Amazon S3 bucket is empty. Type out and execute the following code instead.

```python
import gzip
import urllib.request
from pathlib import Path
response = urllib.request.urlopen('https://belhavencs.nyc3.digitaloceanspaces.com/csc311/recipeitems-latest.json.gz')
Path('recipeitems-latest.json').write_bytes(gzip.decompress(response.read()))
```

In [ ]:
try:
    recipes = pd.read_json('recipeitems-latest.json')
except ValueError as e:
    print("ValueError:", e)

In [ ]:
with open('recipeitems-latest.json') as f:
    line = f.readline()
pd.read_json(line).shape

In [ ]:
# read the entire file into a Python array
with open('recipeitems-latest.json', 'r') as f:
    # Extract each line
    data = (line.strip() for line in f)
    # Reformat so each line is the element of a list
    data_json = "[{0}]".format(','.join(data))
# read the result as a JSON
recipes = pd.read_json(data_json)

In [ ]:
recipes.shape

In [ ]:
recipes.iloc[0]

In [ ]:
recipes.ingredients.str.len().describe()

In [ ]:
recipes.name[np.argmax(recipes.ingredients.str.len())]

In [ ]:
recipes.description.str.contains('[Bb]reakfast').sum()

In [ ]:
recipes.ingredients.str.contains('[Cc]innamon').sum()

In [ ]:
recipes.ingredients.str.contains('[Cc]inamon').sum()

In [ ]:
recipes.ingredients.str.contains('[Cc]inamon').sum()

#### A simple recipe recommender

In [ ]:
spice_list = ['salt', 'pepper', 'oregano', 'sage', 'parsley',
              'rosemary', 'tarragon', 'thyme', 'paprika', 'cumin']

In [ ]:
import re
spice_df = pd.DataFrame(dict((spice, recipes.ingredients.str.contains(spice, re.IGNORECASE))
                             for spice in spice_list))
spice_df.head()

In [ ]:
selection = spice_df.query('parsley & paprika & tarragon')
len(selection)

In [ ]:
recipes.name[selection.index]

---

## Working with Time Series

[Chapter/section link](https://nbviewer.jupyter.org/urls/bitbucket.org/dogwynn/pythondatasciencehandbook/raw/master/notebooks/03.11-Working-with-Time-Series.ipynb)

### Dates and Times in Python

#### Native Python dates and times: `datetime` and `dateutil`

In [ ]:
from datetime import datetime
datetime(year=2015, month=7, day=4)

In [ ]:
from dateutil import parser
date = parser.parse("4th of July, 2015")
date

In [ ]:
date.strftime('%A')

#### Typed arrays of times: NumPy's `datetime64`

In [ ]:
import numpy as np
date = np.array('2015-07-04', dtype=np.datetime64)
date

In [ ]:
date + np.arange(12)

In [ ]:
np.datetime64('2015-07-04')

In [ ]:
np.datetime64('2015-07-04 12:00')

In [ ]:
np.datetime64('2015-07-04 12:59:59.50', 'ns')

#### Dates and times in pandas: best of both worlds

In [ ]:
import pandas as pd
date = pd.to_datetime("4th of July, 2015")
date

In [ ]:
date.strftime('%A')

In [ ]:
date + pd.to_timedelta(np.arange(12), 'D')

### Pandas Time Series: Indexing by Time

In [ ]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04',
                          '2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
data

In [ ]:
data['2014-07-04':'2015-07-04']

In [ ]:
data['2015']

### Pandas Time Series Data Structures

In [ ]:
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
                       '2015-Jul-6', '07-07-2015', '20150708'])
dates

In [ ]:
dates.to_period('D')

In [ ]:
dates - dates[0]

#### Regular sequences: `pd.date_range()`

In [ ]:
pd.date_range('2015-07-03', '2015-07-10')

In [ ]:
pd.date_range('2015-07-03', periods=8)

In [ ]:
pd.date_range('2015-07-03', periods=8, freq='H')

In [ ]:
pd.period_range('2015-07', periods=8, freq='M')

In [ ]:
pd.timedelta_range(0, periods=10, freq='H')

### Frequencies and Offsets

In [ ]:
pd.timedelta_range(0, periods=9, freq="2H30T")

In [ ]:
from pandas.tseries.offsets import BDay
pd.date_range('2015-07-01', periods=5, freq=BDay())

### Resampling, Shifting, and Windowing

You'll need to install a third-party package, `pandas-datareader`, before executing the code in this section.

In [ ]:
!conda install pandas-datareader

In [ ]:
from pandas_datareader import data

goog = data.DataReader('GOOG', start='2004', end='2016',
                       data_source='google')
goog.head()

In [ ]:
goog = goog['Close']

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()

In [ ]:
goog.plot();

#### Resampling and converting frequencies

In [ ]:
goog.plot(alpha=0.5, style='-')
goog.resample('BA').mean().plot(style=':')
goog.asfreq('BA').plot(style='--');
plt.legend(['input', 'resample', 'asfreq'],
           loc='upper left');

In [ ]:
fig, ax = plt.subplots(2, sharex=True)
data = goog.iloc[:10]

data.asfreq('D').plot(ax=ax[0], marker='o')

data.asfreq('D', method='bfill').plot(ax=ax[1], style='-o')
data.asfreq('D', method='ffill').plot(ax=ax[1], style='--o')
ax[1].legend(["back-fill", "forward-fill"]);

#### Time-shifts

In [ ]:
fig, ax = plt.subplots(3, sharey=True)

# apply a frequency to the data
goog = goog.asfreq('D', method='pad')

goog.plot(ax=ax[0])
goog.shift(900).plot(ax=ax[1])
goog.tshift(900).plot(ax=ax[2])

# legends and annotations
local_max = pd.to_datetime('2007-11-05')
offset = pd.Timedelta(900, 'D')

ax[0].legend(['input'], loc=2)
ax[0].get_xticklabels()[2].set(weight='heavy', color='red')
ax[0].axvline(local_max, alpha=0.3, color='red')

ax[1].legend(['shift(900)'], loc=2)
ax[1].get_xticklabels()[2].set(weight='heavy', color='red')
ax[1].axvline(local_max + offset, alpha=0.3, color='red')

ax[2].legend(['tshift(900)'], loc=2)
ax[2].get_xticklabels()[1].set(weight='heavy', color='red')
ax[2].axvline(local_max + offset, alpha=0.3, color='red');

In [ ]:
ROI = 100 * (goog.tshift(-365) / goog - 1)
ROI.plot()
plt.ylabel('% Return on Investment');

#### Rolling windows

In [ ]:
rolling = goog.rolling(365, center=True)

data = pd.DataFrame({'input': goog,
                     'one-year rolling_mean': rolling.mean(),
                     'one-year rolling_std': rolling.std()})
ax = data.plot(style=['-', '--', ':'])
ax.lines[0].set_alpha(0.3)

### Example: Visualizing Seattle Bicycle Counts

Type and execute the following code to load the `FremontBridge.csv` dataset:

```python
import gzip
import urllib.request
from pathlib import Path
response = urllib.request.urlopen('https://belhavencs.nyc3.digitaloceanspaces.com/csc311/FremontBridge.csv')
Path('FremontBridge.csv').write_bytes(response.read())
```

In [ ]:
# !curl -o FremontBridge.csv https://data.seattle.gov/api/views/65db-xm6

In [ ]:
data = pd.read_csv('FremontBridge.csv', index_col='Date', parse_dates=True)
data.head()
F

In [ ]:
data.columns = ['West', 'East']
data['Total'] = data.eval('West + East')

In [ ]:
data.dropna().describe()

#### Visualizing the data

In [ ]:
%matplotlib inline
import seaborn; seaborn.set()

In [ ]:
data.plot()
plt.ylabel('Hourly Bicycle Count');

In [ ]:
weekly = data.resample('W').sum()
weekly.plot(style=[':', '--', '-'])
plt.ylabel('Weekly bicycle count');

In [ ]:
daily = data.resample('D').sum()
daily.rolling(30, center=True).sum().plot(style=[':', '--', '-'])
plt.ylabel('mean hourly count');

In [ ]:
daily.rolling(50, center=True,
              win_type='gaussian').sum(std=10).plot(style=[':', '--', '

#### Digging into the data

In [ ]:
by_time = data.groupby(data.index.time).mean()
hourly_ticks = 4 * 60 * 60 * np.arange(6)
by_time.plot(xticks=hourly_ticks, style=[':', '--', '-']);

In [ ]:
by_weekday = data.groupby(data.index.dayofweek).mean()
by_weekday.index = ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
by_weekday.plot(style=[':', '--', '-']);

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1, 2, figsize=(14, 5))
by_time.ix['Weekday'].plot(ax=ax[0], title='Weekdays',
                           xticks=hourly_ticks, style=[':', '--', '-'])
by_time.ix['Weekend'].plot(ax=ax[1], title='Weekends',
                           xticks=hourly_ticks, style=[':', '--', '-'])

---

## High-Performance Pandas: `eval()` and `query()`

[Chapter/section link](https://nbviewer.jupyter.org/urls/bitbucket.org/dogwynn/pythondatasciencehandbook/raw/master/notebooks/03.12-Performance-Eval-and-Query.ipynb)

### Motivating `query()` and `eval()`: Compount Expressions

In [ ]:
import numpy as np
rng = np.random.RandomState(42)
x = rng.rand(1000000)
y = rng.rand(1000000)
%timeit x + y

In [ ]:
%timeit np.fromiter((xi + yi for xi, yi in zip(x, y)), dtype=x.dtype, c

In [ ]:
mask = (x > 0.5) & (y < 0.5)

In [ ]:
tmp1 = (x > 0.5)
tmp2 = (y < 0.5)
mask = tmp1 & tmp2

In [ ]:
import numexpr
mask_numexpr = numexpr.evaluate('(x > 0.5) & (y < 0.5)')
np.allclose(mask, mask_numexpr)

### `pandas.eval()` for Efficient Operations

In [ ]:
import pandas as pd
nrows, ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols))
                      for i in range(4))

In [ ]:
%timeit df1 + df2 + df3 + df4

In [ ]:
%timeit pd.eval('df1 + df2 + df3 + df4')

In [ ]:
np.allclose(df1 + df2 + df3 + df4,
            pd.eval('df1 + df2 + df3 + df4'))
True

#### Operations supported by `pd.eval()`

In [ ]:
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3)))
                           for i in range(5))

In [ ]:
result1 = -df1 * df2 / (df3 + df4) - df5
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')
np.allclose(result1, result2)

In [ ]:
result1 = (df1 < df2) & (df2 <= df3) & (df3 != df4)
result2 = pd.eval('df1 < df2 <= df3 != df4')
np.allclose(result1, result2)

In [ ]:
result1 = (df1 < 0.5) & (df2 < 0.5) | (df3 < df4)
result2 = pd.eval('(df1 < 0.5) & (df2 < 0.5) | (df3 < df4)')
np.allclose(result1, result2)

In [ ]:
result3 = pd.eval('(df1 < 0.5) and (df2 < 0.5) or (df3 < df4)')
np.allclose(result1, result3)

In [ ]:
result1 = df2.T[0] + df3.iloc[1]
result2 = pd.eval('df2.T[0] + df3.iloc[1]')
np.allclose(result1, result2)

### `DataFrame.eval()` for Column-Wise Operations

In [ ]:
df = pd.DataFrame(rng.rand(1000, 3), columns=['A', 'B', 'C'])
df.head()

In [ ]:
result1 = (df['A'] + df['B']) / (df['C'] - 1)
result2 = pd.eval("(df.A + df.B) / (df.C - 1)")
np.allclose(result1, result2)

In [ ]:
result3 = df.eval('(A + B) / (C - 1)')
np.allclose(result1, result3)

#### Assignment in `DataFrame.eval()`

In [ ]:
df.head()

In [ ]:
df.eval('D = (A + B) / C', inplace=True)
df.head()

In [ ]:
df.eval('D = (A - B) / C', inplace=True)
df.head()

#### Local variables in `DataFrame.eval()`

In [ ]:
column_mean = df.mean(1)
result1 = df['A'] + column_mean
result2 = df.eval('A + @column_mean')
np.allclose(result1, result2)

### `DataFrame.query()` Method

In [ ]:
result1 = df[(df.A < 0.5) & (df.B < 0.5)]
result2 = pd.eval('df[(df.A < 0.5) & (df.B < 0.5)]')
np.allclose(result1, result2)

In [ ]:
result2 = df.query('A < 0.5 and B < 0.5')
np.allclose(result1, result2)

In [ ]:
Cmean = df['C'].mean()
result1 = df[(df.A < Cmean) & (df.B < Cmean)]
result2 = df.query('A < @Cmean and B < @Cmean')
np.allclose(result1, result2)

### Performance: When to Use These Functions

In [ ]:
x = df[(df.A < 0.5) & (df.B < 0.5)]

In [ ]:
tmp1 = df.A < 0.5
tmp2 = df.B < 0.5
tmp3 = tmp1 & tmp2
x = df[tmp3

In [ ]:
df.values.nbytes

---

# Section 2: Exercises

In this section, you will be provided a few exercises to demonstrate your understanding of the chapter contents. Each exercise will have a Markdown section describing the problem, and you will provide cells below the description with code, comments and visual demonstrations of your solution.

---

### Problem 1

Use the `seaborn.load_data` function to load the `"titanic"` dataset. 

```python
import seaborn
titanic = seaborn.load_dataset('titanic')
```

Using this dataset and the capabilities provided by Pandas, answer the following questions:

- What is the impact of being alone on survival rates?
- What is the most common embarkment city for surviving children?
- What is the average fare of men that survived?
- What is the average fare of women that survived?

Use `pandas.eval` (or `pd.eval`, depending) and `DataFrame.eval()`/`DataFrame.query()` wherever possible.

In [ ]:
import pandas as pd
import seaborn as sns

# Load the Titanic dataset
titanic = sns.load_dataset('titanic')

# Impact of being alone on survival rates
titanic['alone'] = titanic['who'] == 'male'
survival_rates = titanic.groupby('alone')['survived'].mean().rename({True: 'Alone', False: 'Not Alone'})
print("Impact of being alone on survival rates:")
print(survival_rates)

# Most common embarkment city for surviving children
common_embarkment_city = titanic.query('survived == 1 and age < 18')['embarked'].mode()[0]
print(f"\nMost common embarkment city for surviving children: {common_embarkment_city}")

# Average fare of men that survived
avg_fare_men_survived = titanic.query('survived == 1 and sex == "male"')['fare'].mean()
print(f"\nAverage fare of men that survived: {avg_fare_men_survived:.2f}")

# Average fare of women that survived
avg_fare_women_survived = titanic.query('survived == 1 and sex == "female"')['fare'].mean()
print(f"Average fare of women that survived: {avg_fare_women_survived:.2f}")

---

### Problem 2

Type the following in a cell and run it:

```python
import os
from pathlib import Path
def get_names():
    if not Path('names.csv').exists():
        names = pd.read_csv('https://belhavencs.nyc3.digitaloceanspaces.com/csc311/names.csv')
        names.to_csv('names.csv', index=None)
    else:
        names = pd.read_csv('names.csv')
    return names

names = get_names()
names.head()
```

The `names` DataFrame is a database of first names of children born since 1880. It has the following columns:

Column | Description
:-----:|:-----------
**name** | First name given 
**gender** | Gender of the children with the name
**births** | The number of children born with the name 
**year** | The year of birth 

Use the `names` DataFrame to do the following using the Pandas API:

- Create a `rank` DataFrame where:
    - Its index is the first names from `names`
    - Its columns are a MultiIndex whose primary key is the decade and whose secondary keys are the following: 
        - number of births in the decade
        - rank
        - difference in rank from the last decade
        - number of male births with the name
        - number of female births with the name
- Which names have dropped the most over a one decade period?
- Which names have dropped the most over a five decade period?

Use `pandas.eval` (or `pd.eval`, depending) and `DataFrame.eval()`/`DataFrame.query()` wherever possible.

In [ ]:
Here's the complete code snippet, consolidated without any separations:

```python
import os
import pandas as pd
from pathlib import Path

# Function to get names DataFrame
def get_names():
    if not Path('names.csv').exists():
        names = pd.read_csv('https://belhavencs.nyc3.digitaloceanspaces.com/csc311/names.csv')
        names.to_csv('names.csv', index=None)
    else:
        names = pd.read_csv('names.csv')
    return names

# Load names DataFrame
names = get_names()

# Create decade column
names['decade'] = (names['year'] // 10) * 10

# Create the rank DataFrame
rank = (names.groupby(['decade', 'name'])
        .agg(total_births=('births', 'sum'),
             male_births=('births', lambda x: x[names.loc[x.index, 'gender'] == 'male'].sum()),
             female_births=('births', lambda x: x[names.loc[x.index, 'gender'] == 'female'].sum()))
        .reset_index())

# Add rank and difference in rank
rank['rank'] = rank.groupby('decade')['total_births'].rank(method='dense', ascending=False)
rank['difference'] = rank.groupby('name')['rank'].diff().fillna(0)

# Set MultiIndex
rank.set_index(['name', 'decade'], inplace=True)
rank = rank[['total_births', 'rank', 'difference', 'male_births', 'female_births']]

# Names that dropped the most over one decade
one_decade_drops = (rank['difference'].reset_index()
                    .query('difference > 0')
                    .groupby('name')['difference']
                    .max()
                    .reset_index())
one_decade_drops = one_decade_drops.sort_values(by='difference', ascending=False)

# Names that dropped the most over five decades
five_decade_drops = (rank['difference'].reset_index()
                     .groupby('name')['difference']
                     .apply(lambda x: x.rolling(window=5).sum().min())
                     .reset_index())
five_decade_drops = five_decade_drops.sort_values(by='difference', ascending=False)

# Display results
print("Names that dropped the most over one decade:")
print(one_decade_drops.head())

print("\nNames that dropped the most over five decades:")
print(five_decade_drops.head())
```

This code is all together and ready to run, providing the desired analysis on the names dataset.

---

### Problem 3

Using the `recipes` DataFrame from [Section 3.10](https://nbviewer.jupyter.org/urls/bitbucket.org/dogwynn/pythondatasciencehandbook/raw/master/notebooks/03.10-Working-With-Strings.ipynb#Example:-Recipe-Database), do the following:

- Create a column, `prep_time` that is a `datetime.timedelta` object representation of the `prepTime` column
- Create a column, `cook_time` that is a `datetime.timedelta` object representation of the `cookTime` column
- Create a function that, given a list of [spices](https://nbviewer.jupyter.org/urls/bitbucket.org/dogwynn/pythondatasciencehandbook/raw/master/notebooks/03.10-Working-With-Strings.ipynb#A-simple-recipe-recommender), returns recipes sorted by total time (prep + cook)